* {
	margin: 0px;
	padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
}
.container {
	display: flex;
	flex-direction: column;
	margin: .5em;	
}
.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 10px;
	background-image: url("/Nono1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 450px;
	width: auto;
	border-radius: 10px;
}
.about {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 60vw;
	height: auto;
	align-items: center;
	font-size: 2.0rem;
	padding: 400px 100px 100px 100px;
	color: rgb(204, 230, 93);
	opacity: 90%;
}
.about p {
	text-align: center;
}
.me {
	font-size: 1.5em;
}
ul li {
	align-content: center;
}
img {
	width: 35vw;
	height: auto;
}
.Nono1 {
	display: flex;
	border-radius: 20%;
	padding: 20px 10px 10px 10px;
}
.moat {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	background-color: #ffffff;
}
.moat-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 58vw;
	height: auto;
	padding: 10px;
}
.moat-content ul li {
	padding-left: 10px;
	list-style-type: none;
}
.revenue {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 10px;
	background-color: #ffffff;
}
.revenue-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	padding: 10px;
}

.revenue-content ul li {
	padding-left: 10px;
	list-style-type: none;
}
.main_content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding-left: 10px;
	padding: 10px;
	background-color: #ffffff;
}
.main_content ul li {
	padding-left: 10px;
	list-style-type: none;
}
.others {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 45vw;
	padding: 10px;
}
.top10FUD {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-grow: 1;
	width: 45vw;
	padding: 10px;
}
.notable-articles {

}
.milestone {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.product-milestone {

}
.market-cap {

}
.bottome-line {

}
.independent-influencers {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.youtubers {

}
.Twitterers {

}
.growth-drivers {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.acquisitions {

}
.other-articles {

}

.moat-business, .revenue-source, .Top-10, .Other-Elon {
	font-size: 1.2rem;
	font-weight: bolder;
	padding: 10px 0;
}
footer div {
	padding: 10px;
	border: solid 1px;
	background-color: #ffffff;
}
/*
@media only screen and (max-width: 600px) {
	.Nono2 {
		display: flex;
		border-radius: 20%;
		padding: 3px;
		width: 330px;
		height: 300px;
	}
	.Nono3 {
		display: flex;
		border-radius: 20%;
		padding: 3px;
		width: 330px;
		height: 360px;
	}

	.header {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex-grow: 1;
		padding: 5px;
		background-image: url("/Nono1.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		width: auto;
		border-radius: 3px;
	}
	.about {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		flex-grow: 1;
		width: 60vw;
		height: auto;
		align-items: center;
		font-size: 1.0rem;
		padding: 150px 10px 10px 10px;
		color: white;
		font-size: large;
		color: rgb(213, 238, 101);
		opacity: 90%;
	}
	.about p {
		text-align: center;
	}
	.Elon {
		color: white;
		background-color: tomato;
		opacity: 80%;
		border-radius: 20px;
	}
  }*/
